# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual env
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data (versioned by DVC)
data/*.csv

# Models
models/*.joblib

# MLflow
mlruns/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Miniconda installer
miniconda.exe

projflow.txt
cred.txt